In [2]:
import pandas as pd

In [4]:
stn = "/home/glentner/public/datasets/noaa/gsod.stn.csv"
obs = "/home/glentner/public/datasets/noaa/gsod.obs.csv"

In [25]:
pdstn = pd.read_csv(stn)

In [3]:
import cStringIO
import csv

In [10]:
rs = open(obs,"r",buffering=-1)

In [ ]:
pd.read_csv(rs,chunksize=10**4)

In [14]:
ds = csv.reader(rs)

In [ ]:
# count = 0
# for row in ds:
#     count+=1
# count

In [5]:
import dask.dataframe as dd

In [6]:
# df = dd.read_csv(obs)

In [20]:
# df.head(n=10)

   station_id  wban_id    datetime  measure_id  measure_value  measure_ref
0       33790    99999  1929/08/01           1          57.50            4
1       37770    99999  1929/08/01          17           0.00            0
2       37770    99999  1929/08/01          14           1.00            0
3       37770    99999  1929/08/01          11          99.99            0
4       37950    99999  1929/08/01           7          23.90            0
5       33790    99999  1929/08/01          15           0.00            0
6       37770    99999  1929/08/01          10          57.00            0
7       34970    99999  1929/08/01           6          14.00            5
8       37950    99999  1929/08/01           6          17.20            4
9       34970    99999  1929/08/01          18           0.00            0

In [68]:
indn = pdstn[pdstn['state'] == 'IN']

In [73]:
instaid = indn["station_id"].tolist()

In [86]:
inwbid = list(set(indn["wban_id"].tolist()))

In [88]:
# inwbid

In [24]:
# dddf.head(n=5)

In [40]:
# indata = pdstn[pdstn["state"] == "IN"]

In [59]:
# indata["date_start"].min

In [58]:
# indata[indata["country"] != "US"]

Empty DataFrame
Columns: [station_id, wban_id, station_name, country, state, call_name, latitude, longitude, elevation, date_start, date_end]
Index: []

In [49]:
# indata[indata["date_start"] == 19970724]

,station_id,wban_id,station_name,country,state,call_name,latitude,longitude,elevation,date_start,date_end
5639,692644,99999,MUSCATATUCK TRNG CTR,US,IN,KQMT,39.05,-85.617,247.0,19970724,19970724

In [67]:
# dfs = df[df.station_id == 692644]

In [65]:
# dfs.compute()

In [39]:
inlist = indata["station_id"].tolist()

In [44]:
xinlist = (list(set(inlist)))

In [43]:
len(inlist)

80

In [56]:
df2 = df[df.station_id.isin(intlist)]

In [47]:
xinlist[1]

'744680'

In [51]:
intlist=  []
for x in xinlist:
    intlist.append( int(x))

In [39]:
# intlist

In [ ]:
# df2.compute()

In [ ]:
# df.head(n=1000)

In [38]:
# df2 = df.loc(intlist)

In [37]:
# df.at[1,'station_id']

In [11]:
# df.size

dd.Scalar<size-ag..., dtype=int64>

In [15]:
# dfsize = df.size

In [36]:
# dfsize.compute()

In [64]:
obsr = open(obs,"r",buffering=-1)
stnr = open(stn,"r",buffering=-1)
# ftow = open("./fotw.csv","w")

In [82]:
c = 0
with open("./fotw.csv","w") as ftow:
    for line in obsr:
#         c += 1
#         if c > 100000:
#             break
        if line.split(",",2)[0] in instaid:
            ftow.write(line)

In [ ]:
# instaid

In [80]:
with open("./fotw.csv","w") as ftow:
    pass

In [ ]:
def wrslt(input,filename,col,vallist):
    obsr = open(input,"r")
    with open(filename,"w") as ftow:
    for line in obsr:
        if line.split(",")[col] in vallist:
            ftow.write(line)
    close(obsr)

In [83]:
with open("./fotw.csv","r") as rf,open("./new.csv","w") as wf:
    for line in rf:
#         c += 1
#         if c > 100000:
#             break
        if line.split(",",2)[0] != '999999':
            wf.write(line)

In [90]:
with open("./fotw.csv","r") as rf,open("./new2.csv","w") as wf:
    for line in rf:
#         c += 1
#         if c > 100000:
#             break
        if int(line.split(",")[1]) in inwbid and line.split(",")[0] != '999999':
            wf.write(line)